a {
  text-decoration: none;
}

.content {
  width: 1170px;
  margin: 0 auto;
}

header {
  height : 76px;
  background: #dd412c;
  color : #fff;
  display: flex;
  justify-content: space-around;
}


.logo {
  padding-top: 3px;
  padding-left: 8px;
  float: left;
  width: 200px;
  height: 70px;
  overflow: hidden;
}

/** heder nav-menu */

.main-menu {
  color:  #fff;
  float: right;
}

.main-menu-ul li {
  display: inline;
  padding-top: 25px;
}

.main-menu-ul li a{
  font-size: 12px;
  color: #fff;
  display: inline-block;
  padding: 30px 11px;
  text-transform: uppercase;
}

.main-menu-ul li a:hover {
  background: #ffffff;
  color: #797979 ;
}


.select-lang {
  padding: 30px 11px;
  text-transform: uppercase;

}

.select-lang a {
  color: #fff
}
