html,body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wraper {
  width: 1250px;
  margin: 0 auto;
}

header {
  width: auto;
  height : 80px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 1%;
  width: 121px;
  height: 45px;
  overflow: hidden;
}

/** heder nav-menu */

.main-menu-list li,
.footer-menu-list li{
  display: inline;
  padding-top: 25px;
    }

.main-menu-list li a{
  font-size: 18px;
  color: #fff;
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 15px;
  box-sizing: border-box;
}

.main-menu-list li a:hover {
  background: #ffffff;
  color: #797979 ;
}

.bg-welcome {
  background: url(../img/BG-welcome.png );
  height: 950px;
  width: auto;
  background-size: cover;
}

.content {
  width: 1100px;
  display: flex;
  margin: 4% auto 0;
  justify-content: space-between;

}

.slogan-block {
  margin-top: 12%;
  width: 550px;
  color: #ffffff;
}

.slogan {
  width: 410px;
  font-size: 72px;
}

.slogan-text {
  width: 550px;
  font-size: 24px;
  margin-bottom: 75px;
}


.btn-main {
  padding: 18px 52px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 25px;
  box-shadow: 0 10px 40px 0 rgba(54, 54, 54, 0.15);
  font-size: 18px;
  color: #d90647;
  text-shadow: 0 10px 30px rgba(223, 27, 61, 0.3);
}

.btn-main:hover {
  background: #f08080;
  color: #fff;
  cursor: pointer;
}

.image {
  width: 479px;
  height: 810px;
}

/**Main**/

.messaging,
.Keep-touch{
  display: flex;
  justify-content: space-around;
}

.image-main-block {
  width: 400px;
  height: 650px;
  position: relative;
}

.main-first-img,
.main-second-img,
.main-third-img,
.main-fourth-img{
  position: relative;
}

.mainfirst-img{
  top :5px;
}

.main-second-img{
  top : -520px;
  left: 170px;
}

.main-third-img {
  left: 150px;
}

.main-fourth-img {
  top: -480px;
  right: 80px;
}

.main-text-block {
  padding: 200px 60px 0;
  width: 550px;
}

.main-text-block h2 {
  font-size: 60px;
  font-weight: 900;
  color: #363636;
}

.text-red {
  color: #d90647;
}

.main-text-block p {
  font-size: 18px;
  color: #808080;
}
/******/

.peeople-say {
  padding-top: 50px;
  border-top: 1px solid  #e0e0e0;
  padding-bottom: 50px;
}


.peeople-say h2 {
  font-size: 60px;
  font-weight: 900;
  color: #363636;
  text-align: center;
}
.inner-commit {
  width: 1200px;
  margin: 0 auto;
}

.comment-list {
  margin:100px;
  display: flex;
}

.comment-iteam{
  width: 370px;
  height: 210px;
  border: 1px solid #e0e0e0;
  margin: 10px;
  padding: 15px;
  font-size: 18px;
  border: 2px solid red;
}


.central-comment {
  margin-top: -25px;
  box-shadow: 0px 30px 60px 0 rgba(54, 54, 54, 0.15);
}

.central-autor {
  padding-top: 25px;
}

.comment-iteam p {
 padding: 15px;
}

.autor {
  margin-top: 25px;
  display: flex;
}

.autor img{
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

/***/
.free-chat {
  height: 520px;
  background-image: linear-gradient(to top, #eb402c, #d90647);
  display: flex;
}


/******/

footer {
  border-top:  1px solid  #e0e0e0;
  height : 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-menu-list li a{
  font-size: 18px;
  color: #363636;
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 15px;
  box-sizing: border-box;
}
.footer-menu-list li a:hover {
  border:2px solid #797979;
}

.select-language {
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 7px;
  background: #f8f8f8;
  color: #363636;
  padding-left: 31px;
}
