* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
}

.box {
  width: 97%;
  margin: 1%;
}

.box-header {
  background-color: #ccc;
  color: white;
  text-align: center;
  border-radius: 10px 10px 0 0;
  height: 70px;
}

.error {
  margin-top: -15px;
  color: #ff142b;
}

.box-body {
  height: 80px;
  background-color: #ccc;
}

.flex {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

.txt {
  width: 40%;
  text-align: center;
  color: #fff;
}

.input_task {
  font-size:16px ;
  width: 60%;
  height: 35px;
  border: 2px solid transparent;
  border-radius: 10px 0 0 10px;
  padding-left: 30px;
}

.addBtn {
  width: 15%;
  height: 35px;
  border: 3px solid #f44336;
  border-radius: 0 10px 10px 0;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.addBtn:hover {
  transition: 0.5s;
  color: #fff;
  background: #f44336;
}
.hide {
  display: none;
}

.editBtn {
  width: 15%;
  height: 35px;
  border: 3px solid #66aa4f;
  border-radius:0 10px 10px  0;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.editBtn:hover {
  transition: 0.5s;
  color: #fff;
  background: #66aa4f;
}

.edit_task {
  width: 75%;
  height: 35px;
  border: 2px solid transparent;
  padding-left: 30px;
}

.edit:hover {
  transition: 0.5s;
  background-color: #66aa4f;
  color: white;
}

.edit_this {
  background-color: #66aa4f;
  color: white;
}

.editInput {
  font-size: 16px;
  border: none;
  background: none;
}

.editInputNow {
  border: 1px solid #66aa4f ;
  border-radius: 3px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-left: 5px solid #ccc;
  border-right: 5px solid #ccc;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  transition: 0.5s;
  background-color: #f44336;
  color: white;
}

ul li.checked .edit {
  color: #fff;
}

.edit {
  position: absolute;
  right: 47px;
  top: 0;
  padding: 12px 16px 12px 16px;
  width: 75px;
  height: 45px;
  color: #000;
}

.box-footer {
  height: 20px;
  background-color: #ccc;
  border-radius: 0 0 10px 10px;
}