<div class="form">
  <input type="text" class="form__input" placeholder="Enter your task" [(ngModel)]="inputValue"
    (keyup.enter)="addTask()">
  <button type="button" class="form__button" (click)="addTask()">+</button>
</div>

<mat-form-field>
  <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="date">
  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker disabled="false"></mat-datepicker>
</mat-form-field>

<div class="author">
  <label for="authorName">Your name</label>
  <input id="authorName" type="text" [(ngModel)]="authorName">
</div>
