body,html {
  margin: 0;
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.welcome {
  background: #363636 url(../img/bg_welcome.png) no-repeat;
}

.wraper {
  width: 1250px;
  margin: 0 auto;
}

.header {
  width: auto;
  height : 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.logo {
  margin: 2%;
  width: 168px;
  height: 18px;
  overflow: hidden;
}

.main-menu {
  margin: 2%;
}

.main-menu-list  li {
  display: inline;
}

.main-menu-list a {
  color: #111;
  padding: 0 10px;
  text-transform: uppercase;
}

.main-menu-list a:hover {
  border-bottom:  3px solid #e8bf5d;
}


.welcome {
  height: 800px;
  background: #cccccc url(../img/BG_welcome.png) center no-repeat;
  display: flex;
  justify-content: space-around;

}

.welcome ul {
  margin-top: 555px;
  color: #fff;
}

.welcome .title {
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  line-height: 0.69;
  letter-spacing: 2px;
  border-left:3px solid #e8bf5d ;
  padding-left: 16px;
}

.welcome .subtitle {
  font-size: 31px;
  line-height: 1.16;
  border-left:3px solid #e8bf5d ;
  padding-left: 16px;
}


.btn-def {
  margin-top: 555px;
  height: 50px;
  font-size: 16px;
  color: #111;
  padding: 18px 46px;
  border: 1px solid transparent;
  border-radius: 25px;
  background: #e8bf5d;
}

.btn-def:hover {
  cursor: pointer;
  color: #fff;
  border: 1px solid #111;
}

.heder-section {
  position: relative;
  padding-left: 50px;
  padding-top: 81px;
  font-family: 'Playfair Display', serif;
}

.heder-section h3 {
  border-left:3px solid #e8bf5d ;
  padding-left: 16px;
  font-size: 31px;

}

.heder-section p {
  width: 765px;
  border-left:3px solid #e8bf5d ;
  padding-left: 16px;
  font-size: 21px;
  line-height: 1.48;
  color: #666666;
}
.number:before {
  font-size: 195px;
  width: 211px;
  height: 144px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  opacity: 0.1;
  top :0px;
  bottom: 0;
  left: 65px;
  right: 0;
}
.number-01:before {
  content: "01";
}

.about-list {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

h4 {
  font-size: 21px;
  line-height: 1.48;
}

.history-list li {
  width: 550px;
  display: flex;
  padding-top: 36px;
}

.history-list span{
  width: 75px;
}

.history-list p {
  width: 430px;
  font-size: 16px;
  text-align: left;
  color: #111111;
  padding-left: 37px;
}

.history span {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.48;
  text-align: left;
  color: #111111;
}

.expertise {
  width: 500px;
  font-size: 14px;
  text-align: left;
  color: #666666;
}

.expertise h4 {
  color: #111;
}

.expertise p {
  padding-top: 36px;
  line-height: 2.21;
}

.practis-area {
  padding-top: 50px;
  background: #111;
  color: #fff;
}

.number-02:before {
  content: "02";
}

.practis-area-list {
  padding: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.practis-area-list  li {
  width: 50%;
  padding: 35px 75px;
  position: relative;
}


.practis-area-list  li:before{
  position: absolute;
  content: "";

}

.client-service:before {
  width:58px;
  height: 38px;
  top: 40px;
  left: -25px;
  background: url(../img/client-service.png);
}

.labour-employment:before {
  width:42px;
  height: 42px;
  top: 40px;
  left: -5px;
  background: url(../img/labour-employment.png);
}

.cyber-sequre:before  {
  width:49px;
  height: 43px;
  top: 40px;
  left: -25px;
  background: url(../img/cyber-sequre.png);
}

.real-estate:before {
  width:42px;
  height: 33px;
  top: 40px;
  left: -5px;
  background: url(../img/real-estate.png);
}

.number-03:before {
  content: "03";
}

.inner {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 15px;
}

.inner > .box {
  padding-top: 50px;
  padding-bottom: 100px;
}

.our-clients-say{
  background: #363636 url(../img/clients-back.png);
  color: #fff;
  padding-bottom: 100px;
}


.number-04:before {
  content: "04";
  width: 218px;
}

.client-box {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.client-box img {
  width: 370px;
  height: 305px;
  padding: 10px;
}

.client-box-inner {
  width: 600px;
  display:block;
  position: relative;
}

.client-box-inner:before {
  content: "";
  width: 30px;
  height: 25px;
  background: url(../img/icon-quote.png) no-repeat;
  position: absolute;
  top: 0;
  left: -50px;
}


.client-box-inner blockquote {
  font-size: 14px;
  line-height: 2;
  width: 600px;
  height: 140px;
}

.client-box-inner h4 {
  padding-top: 40px;
}

.client-box-inner span {
  font-size: 14px;
}

.number-05:before {
  content: "05";
}

.publications-list {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.publications-box{
  margin: 10px;
  padding-bottom: 15px;
  border-bottom:3px solid #e8bf5d ;
}

.publications-box h4 {
  font-weight: 600;
}

.pub-autor  em,
.pub-autor data{
  color : #666;
}

.pub-autor data{
  font-style: italic;
  float: right;
}

.pub-autor span {
  font-size: 16px;
}

.publications-box .desc {
  padding-top: 40px;
  font-size: 14px;
  color: #666;
  line-height: 2.21;
}

.publications-box-list {
  display: flex;
  justify-content: space-between;
}

