body,html {
  pading: 0;
  margin: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.welcome {
  background: #363636 url(../img/bg_welcome.png) no-repeat;
}

.wraper {
  width: 1250px;
  margin: 0 auto;
}

.header {
  width: auto;
  height : 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.logo {
  margin: 2%;
  width: 168px;
  height: 18px;
  overflow: hidden;
}

.main-menu {
  margin: 2%;
}

.main-menu-list  li {
  display: inline;
}

.main-menu-list a {
  color: #111;
  padding: 0 10px;
  text-transform: uppercase;
}

.active{
  border-bottom:  3px solid #e8bf5d;
}

.main-menu-list a:hover {
  border-bottom:  3px solid #e8bf5d;
}


.welcome {
  height: 800px;
  background: #cccccc url(../img/BG_welcome.png) center no-repeat;
}
