<li class="item">
  <input class="checkbox" type="checkbox" (click)="statusTask(i)">
  <input class="taskTitle" type="text" value="{{ task.text }}" disabled>

  <img class="svg archive" (click)="archiveTask(task.id)" alt="архив" title="archive task"
       src="../assets/img/archive.svg">

  <img class="svg edit" (click)="editTask(task.id)" alt="pen" title="edit task" src="../assets/img/edit.svg">

  <img class="svg delete" (click)="deleteTask(task.id)" alt="корзна" title="remove task"
       src="../assets/img/waste-bin.svg">

</li>
