.graal {
  height: 100vh;
}
table {
  width:100%;
  border: none;
}
.table-heder {
  background: red;
  height: 80px;
  color: white;
}

.table-footer {
  background: sienna;
  height: 80px;
  color: white;
}

.table-main {
  background: seagreen;
  height: 200px;
  color: white;
}

.table-body {
  background: darkslateblue;
  height: 200px;
  color: white;
}

.text-aling {
  text-align: center;
}

h1 {
  margin-top: 150px;
}

.column {
  width: 300px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
