html, body, ul, li{
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#slider{
  min-width: 1170px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}

#slider .photos{
  position: relative;
  width: 100%;
  height: 600px;
}

#slider .photos img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;

}

#slider .photos img.showed{
  opacity: 1;
}

.buttons {
  margin: 0 auto;
  width: 1100px;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-list{
  display: flex;
}

.arrow-left {
    width: 36px;
    height: 36px;
    background: url(../IMG/arrow-left.png);
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px ;
}
.arrow-left:hover {
    background: url(../IMG/arrow-left-active.png);
}

.arrow-right {
    width: 36px;
    height: 36px;
    background: url(../IMG/arrow-right.png);
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px ;
}

.arrow-right:hover {
    background: url(../IMG/arrow-right-active.png);
}

.buttons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92px;
  height: 92px;
  background: url(../img/item.png);
  border: 1px solid transparent;
}

.buttons-item:hover, .active {
  cursor: pointer;
    width: 92px;
    height: 92px;
    background: url(../IMG/item-hover.png);
    border: 1px solid transparent;
}

.buttons-item-content{
     display: none;
    width: 464px;
    height: 92px;
    background: url(../IMG/item-content.png);
    border: 1px solid transparent;
    position: relative;
}
.show{
  display: block;

}

.buttons-item-content:after{
  position: absolute;
  content:  "";
  height: 74px;
  width: 31px;
  top: 10%;
  bottom: 10%;
  right: 10px;
  background: url(../img/barcode.png);
}

.buttons-item-day{
    color: rgba(255, 255, 255, 0.4);
    font-size: 17px;
    text-transform :capitalize;
}

.buttons-item-number{
    color: #fff;
    font-size: 44px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.buttons-item-month {
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
    text-transform:uppercase;
}

/*!****!*/
/*.tikket_data_active{*/
/*width: 555px;*/
/*display: block;*/
/*}*/

/*.active-date_active{*/
/*width: 90px;*/
/*height: 90px;*/
/*border: 1px solid transparent;*/
/*}*/

.buttons-item-content{
color: #fff;
width: 465px;
display: block;


}

.buttons-item-content-title{
font-size: 28px;

}

.buttons-item-content p {
font-size: 13px;
  text-align: left;
}


.buttons-item-content .buy-tikket {
background-color: #484c4d;
padding: 5px 10px;
float: right;
}

.buttons-item-content .buy-tikket:hover {
cursor: pointer;
  box-shadow: 0 0 5px #cd2e2d;
}
