html, body, ul, li{
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#slider{
  min-width: 1170px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background: #cccccc;
  overflow: hidden;
}

#slider .photos{
  position: relative;
  width: 100%;
  height: 600px;
}

#slider .photos img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;

}

#slider .photos img.showed{
  opacity: 1;
}

.buttons{
  background: #cccccc;
  margin: 0 auto;
  width: 1100px;
  position: absolute;
  left: 5%;
  right: 5%;
  top:50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid red;
}

.buttons-list{
  display: flex;
}

.arrow-left {
    width: 36px;
    height: 36px;
    background: url(../IMG/arrow-left.png);
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px ;
}
.arrow-left:hover {
    background: url(../IMG/arrow-left-active.png);
}

.arrow-right {
    width: 36px;
    height: 36px;
    background: url(../IMG/arrow-right.png);
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px ;
}

.arrow-right:hover {
    background: url(../IMG/arrow-right-active.png);
}

.buttons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92px;
  height: 92px;
  background: url(../img/item.png);
  border: 1px solid transparent;
}

.buttons-item:hover, .active {
    width: 92px;
    height: 92px;
    background: url(../IMG/item-hover.png);
    border: 1px solid transparent;
}

.buttons-item-content{
    width: 464px;
    height: 92px;
    background: url(../IMG/item-content.png);
    border: 1px solid transparent;
}


.buttons-item-day{
    color: rgba(255, 255, 255, 0.4);
    font-size: 17px;
    text-transform :capitalize;
}

.buttons-item-number{
    color: #fff;
    font-size: 44px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.buttons-item-month {
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
    text-transform:uppercase;
}

/*!****!*/
/*.tikket_data_active{*/
/*width: 555px;*/
/*display: block;*/
/*}*/

/*.active-date_active{*/
/*width: 90px;*/
/*height: 90px;*/
/*border: 1px solid transparent;*/
/*}*/

/*.active-date-content {*/
/*color: #fff;*/
/*width: 465px;*/
/*display: block;*/

/*}*/

/*.active-date-content  h4{*/
/*font-size: 28px;*/

/*}*/

/*.active-date-content p {*/
/*font-size: 13px;*/
/*text-align: left;*/
/*margin-left: 20%;*/
/*}*/

/*.buy-tikket {*/
/*background-color: #484c4d;*/
/*padding: 5px 10px;*/
/*float: right;*/
/*}*/

/*.buy-tikket:hover {*/
/*cursor: pointer;*/
/*}*/
