
html {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px; 
    font-weight: normal;
    line-height: 1.4;
}

*,
*:before,
*:after  { box-sizing: inherit; }

h1 { 
    color: #fff;
    line-height: 1.2;
    margin: 0.5em 0 3em;
    text-shadow: 1px 1px 1px #333;
}

/*
.arrow-left {
    width: 36px;
    height: 36px;
    background: url(../IMG/arrow-left.png);
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px ;
}
.arrow-left:hover {
    background: url(../IMG/arrow-left-active.png);
}

.arrow-right {
    width: 36px;
    height: 36px;
    background: url(../IMG/arrow-right.png);
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px ;
}

.arrow-right:hover {
    background: url(../IMG/arrow-right-active.png);
}

*/

.tikket_data {
    width: 90px;
    height: 90px;
    background: url(../IMG/tikket_data.png);
    border: 1px solid transparent;
}

.tikket_data:hover {
    width: 90px;
    height: 90px;
    background: url(../IMG/tikket_data_hover.png);
    border: 1px solid transparent;
}

.tikket_data_active {
    width: 555px;
    height: 90px;
    background: url(../IMG/tikket_data_activ.png);
    border: 1px solid transparent;
}

.active-date {
    float: left;
    padding-left: 5px;
}

.tikket--menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tikket-menu-list  li {
     display: inline-block;
     margin: 0 auto;
 }

.day-tikket{
    color: rgba(255, 255, 255, 0.4);
    font-size: 17px;
    text-transform :capitalize;
}

.number-tikket {
    color: #fff;
    font-size: 44px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.month-tikket {
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
    text-transform:uppercase;
}

/****/
.tikket_data_active{
    width: 555px;
    display: block;
}

.active-date_active{
    width: 90px;
    height: 90px;
    border: 1px solid transparent;
}

.active-date-content {
    color: #fff;
    width: 465px;
    display: block;

}

.active-date-content  h4{
    font-size: 28px;

}

.active-date-content p {
    font-size: 13px;
    text-align: left;
    margin-left: 20%;
}

.buy-tikket {
    background-color: #484c4d;
    padding: 5px 10px;
    float: right;
}

.buy-tikket:hover {
    cursor: pointer;
}
