.body {
  margin: 0 auto;
  width: 80%;
  height: 150px;
  background: #ccc;
  position: relative;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 20px;
  font-size: 70px;
  color: #fff;
}

