
<form class="form">

  <input class="new-task-input"
         [(ngModel)]="newValue" type="text"
         [ngModelOptions]="{standalone: true}"
         placeholder="Enter your task...">
  <button class="add-new-task" (click)="addNew(newValue)">Add</button>
</form>

<div class="footer">
  <button [ngClass]="{'active-btn': activeFilter === filters['A']}"
          (click)="show(filters['A'])">Tasks: {{ todos.length }}
  </button>
  <button class="bnt-done" [ngClass]="{'active-btn': activeFilter === filters['D']}" (click)="show(filters['D'])">Done:
    {{ checkedTasks.length }}
  </button>
</div>

<ul class="list-task">
  <li *ngFor="let task of todos; let i = index">
    <app-task-item [task]="task"
                   (updateTask)="update($event, i)"
                   [hidden]="activeFilter === filters['D'] && !task.isChecked">
    </app-task-item>
  </li>
</ul>
